(() => {
  let isLink = "<%= @is_link%>";
  isLink = (isLink === "true");
  if (isLink) {
    const linksList = document.querySelector(".links-list");
    const modalWrapper = document.getElementById("links-modal");
    const addALink = document.getElementById("add-a-link");

    // Close modal
    modalWrapper.classList.add("none");
    // Clear modal form
    document.querySelector("#links-modal form").reset();

    const sanitizedUrl = "<%= sanitize_url(@profile_attachment.url)%>";
    const editIconPath = "<%= image_path 'icons/edit-white.svg' %>";
    const zapIconPath = "<%= image_path 'icons/zap.svg' %>";
    const newLinkTitle = "<%= @profile_attachment.title %>";
    const moreWhiteIconPath = "<%= image_path 'icons/more-white.svg' %>";
    const profileAttachmentId = "<%= @profile_attachment.id %>";
    const formAuthenticityToken ="<%= form_authenticity_token %>";

    const linkHTML = `<button name="button" class="btn-centered btn-secondary mb-3 flex items-center justify-content-center w-100">
    <div class="flex justify-content-center items-center textWhite flex-grow-1">
      <img alt="edit" class="mr-2" height="32" width="32" src="${editIconPath}">
      ${newLinkTitle}
    </div>
    <div class="relative">
      <div class="none actions-container" data-id="${profileAttachmentId}">
        <div class="actions flex flex-column">
          <a class="action-link flex items-center w-100" href="#">Edit</a>
          <form class="button_to" method="post" action="/profile_attachments/${profileAttachmentId}" data-remote="true"><input type="hidden" name="_method" value="delete"><input class="action-link flex items-center w-100" type="submit" value="Remove"><input type="hidden" name="authenticity_token" value="${formAuthenticityToken}"></form>
        </div>
      </div>
      <div class="trigger" data-id="${profileAttachmentId}">
        <img class="toggler" width="24" height="24" src="${moreWhiteIconPath}">
      </div>
    </div>
  </button>`;


    // Insert new button
    linksList.insertAdjacentHTML('beforeend', linkHTML);

    // Change "A LINK" to "ANOTHER"
    addALink.innerHTML = `<img alt="zap" class="mr-2" src="${zapIconPath}">ADD ANOTHER`

    window.moreTogglerMultiple();

  } else {
    // Close modal
    const modalWrapper = document.getElementById("documents-modal");
    modalWrapper.classList.add("none");
    // Clear modal form
    document.querySelector("#documents-modal form").reset();

    const uploadADocument = document.getElementById("upload-a-document");
    const documentsList = document.querySelector(".documents-list");
    const downloadUrl = "<%= download_attachment_path(@profile_attachment)%>";
    const downloadIconPath = "<%= image_path 'icons/download-white.svg' %>";
    const paperclipIconPath = "<%= image_path 'icons/paperclip.svg' %>";
    const newLinkTitle = "<%= @profile_attachment.title %>";

    const docHTML = `<a class="btn-centered btn-secondary mb-3 flex items-center justify-content-center" rel="nofollow" data-method="post" href="${downloadUrl}"><img width="32" height="32" class="mr-2" src="${downloadIconPath}">${newLinkTitle}
      </a>`;

    documentsList.insertAdjacentHTML("beforeend", docHTML);
    uploadADocument.innerHTML = `<img alt="paperclip" class="mr-2" src="${paperclipIconPath}">ADD ANOTHER`
  }
})();
