<div class="profile-card">
  <div class="top">
    <% if add_to_network %>
      <%= link_to profile_connections_path(profile), method: :post, class: "action connect-#{profile.id}", remote: true do %>
        <%= image_tag "icons/person-add.svg", alt: "connection add", class: "icon" %>
      <% end %>
    <% else %>
      <%= link_to new_profile_booking_path(profile), class: "action" do %>
        <%= image_tag "icons/calendar.svg", alt: "calendar", class: "icon" %>
      <% end %>
    <% end %>

    <%= link_to profile_path(profile) do %>
      <% if profile.user.avatar.attached? %>
        <div class="profile-card-avatar" style="background-image: url(<%= profile.user.avatar.service_url %>); width: 64px; height: 64px">
        </div>
      <% else %>
        <%= image_tag "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_160x56dp.png", alt: "profile avatar", height: 64, width: 64, class: "profile-card-avatar" %>
      <% end %>
    <% end %>

    <button class="action"><%= image_tag "icons/more-gray.svg", alt: "more", class: "icon" %></button>
  </div>
  <div class="bottom flex-grow-1 flex flex-column justify-content-between">
    <div class="bottom-top flex-grow-1">
      <%= link_to profile_path(profile) do %>
        <div class="text-group flex flex-column">
          <h3 class="name"><%= profile.user.display_name.length > 16 ? profile.user.shortened_display_name : profile.user.display_name %></h3>
          <h5 class="profession"><%= profile.profession.length > 17 ? "#{profile.profession[0..14]}..." : profile.profession %></h5>
          <p class="location"><%= profile.location %></p>
        </div>
      <% end %>
    </div>

    <div class="bottom-bottom">
      <% if conversation %>
        <%= link_to conversation_path(conversation), class: "btn btn-white mt-3 mx-3 message" do %>
          <%= image_tag "icons/message.svg", alt: "message", class: "vertical-align-middle", width: 12, height: 12 %> Message
        <% end %>
      <% else %>
        <%= link_to profile_conversations_path(profile, conversation: { profile_id: profile.id }), method: :post, class: "btn btn-white mt-3 mx-3 message" do %>
          <%= image_tag "icons/message.svg", alt: "message", class: "vertical-align-middle", width: 12, height: 12 %> Message
        <% end %>
      <% end %>
      <div class="flex items-center justify-content-center mt-3">
        <% profile.average_rating.to_i.times do %>
          <%= image_tag "icons/colored-rating.svg", alt: "rating", class: "star" %>
        <% end %>
        <% (5 - profile.average_rating.to_i).times do %>
          <%= image_tag "icons/rating.svg", alt: "rating", class: "star" %>
        <% end %>
        <span class="rating-size">(<%= profile.ratings.size %>)</span>
      </div>
    </div>

  </div>
</div>
