<div class="profile-card">
  <div>
    <% if profile.user.avatar.attached? %>
      <%= image_tag profile.user.avatar.service_url, alt: "profile avatar", width: 64, height: 64 %>
    <% else %>
      <%= image_tag "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_160x56dp.png", alt: "profile avatar", height: 64, width: 64 %>
    <% end %>
    <div class="text-group">
      <h3><%= profile.user.display_name %></h3>
      <h5><%= profile.profession %></h5>
      <% if invitation %>
        <%= link_to "Invite", "#" %>
      <% end %>
    </div>
    <%= link_to profile_path(profile) do %>
      <%= image_tag "icons/right-arrow.svg", alt: "Right arrow" %>
    <% end %>
  </div>
</div>
