<div class="generalProfile w-100">

  <div class="profileBanner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(255,255,255,0.2)), url(<%= avatar_url(@profile) %>)">
    <div class="headerOptions border-box flex w-100 justify-content-between p-3">
      <div>
        <%= link_to (@previous_page.match?(/step_two/) ? dashboard_path : :back) do %>
          <%= image_tag "icons/left-arrow-white.svg", alt: "back link", width: 24, height: 24, class: "mr-2 textSm" %>
      </div>
        <% end %>
        <% if !user_signed_in? || (user_signed_in? && current_user.freelancer?) %>
          <%= link_to "#", class: "action-link share-link flex items-center", data: { url: "https://www.flxibl.io/profiles/#{@profile.id}", title: "#{@profile.display_name}'s' profile on flxibl", text: @profile.overview&.truncate(120) } do %>
          <%= image_tag "icons/share-white", alt: "share profile", width: 32, height: 32 %>
          <% end %>
        <% end %>
      <% if current_user&.manager? %>
        <div class="relative">
          <div class="none actions-container">
            <div class="actions flex flex-column job-show">
              <% connection ||= current_user&.find_connection(@profile.user) %>
              <% if connection %>
                <%= button_to connection_path(connection), method: :delete, class: "action-link flex items-center w-100 textMd", remote: true do %>
                  <%= image_tag "icons/user-minus", alt: "remove user", width: 24, height: 24, class: "mr-3" %>
                  REMOVE
                <% end %>
              <% end %>
              <%= link_to "#", class: "action-link share-link flex items-center w-100", data: { url: "https://www.flxibl.io/profiles/#{@profile.id}", title: "#{@profile.display_name}'s' profile on flxibl", text: @profile.overview&.truncate(120) } do %>
                <%= image_tag "icons/share-white", alt: "share profile", width: 24, height: 24, class: "mr-3" %>
                SHARE
              <% end %>
            </div>
          </div>
          <div class="trigger">
            <%= image_tag "icons/more-white.svg", class: "toggler", width: 24, height: 24 %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Name and description -->
  <div class="profileHeader">
    <div class="profileHeaderLeft my-3">
      <h1 class="mt-0 mb-2"><%= @profile.user.display_name %></h1>
      <p class="textLightBlack my-0"><%= @profile.profession %>, <%= @profile.location %></p>
    </div>
    <div class="profileHeaderRight my-3">
      <div class="flex items-center justify-content-end">
        <div class="stars">
          <%= render partial: "ratings/content", locals: { profile: @profile } %>
        </div>
      </div>
    </div>
  </div>

  <!-- Buttons -->

  <!-- Add or Book button -->
  <div class="profileButtons flex justify-content-around px-3">
  <% if !user_signed_in? %>
    <%= link_to new_user_session_path, class: "action-link flex items-center w-100 btn btn-primary textWhite py-3" do %>
      LOGIN TO BOOK <%= @profile.user&.first_name&.upcase %>
    <% end %>
    <% elsif current_user&.manager? %>
      <% if @connection %>
        <%= link_to new_profile_booking_path(@profile), class: "btn-lg px-0 btn-primary" do %>
          <%= image_tag "icons/schedule-white.svg", alt: "Book user", width: 18, height: 18 %>
          <p class="textWhite">BOOK</p>
        <% end %>
      <% else %>
        <%= link_to ajax_profile_connections_path(@profile) ,class: "mr-3 btn-lg px-0 btn-primary", method: :post, remote: true  do %>
          <%= image_tag "icons/user-plus.svg", alt: "Add user", width: 18, height: 18 %>
          <p class="textWhite">ADD</p>
        <% end %>
      <% end %>
      <div class="spacer">

      </div>

      <!-- Message Button -->
      <% conversation ||= current_user.conversation_with(@profile.user) %>
      <% if conversation %>
        <%= link_to conversation_path(conversation, anchor: "message-#{conversation.messages.last&.id}", from: "prof_show"), class: "btn-lg px-0 btn-white" do %>
          <%= image_tag "icons/message.svg", alt: "message", width: 18, height: 18 %> MESSAGE
        <% end %>
      <% else %>
        <%= link_to profile_conversations_path(@profile, conversation: { profile_id: @profile.id }, from: "prof_show"), method: :post, class: "btn-lg px-0 btn-white" do %>
          <%= image_tag "icons/message.svg", alt: "message", width: 18, height: 18 %> MESSAGE
        <% end %>
      <% end %>


  <% end %>

  </div>


  <!-- Skills -->
  <div class="container">
    <div class="profileSection p-3" id="skills">
      <h3 class="small mb-2 mt-0 semi-bold textSm textLightBlack">KEY SKILLS</h3>
      <div class="flex justify-content-start skill-pills mb-2">
        <% @profile.skill_list.each do |skill| %>
          <span class="skill-pill"><%= skill %></span>
        <% end %>
      </div>
    </div>

    <!-- Tabs -->

    <div class="profileTabs" id="tabs">
      <%= link_to "About", profile_path(@profile, tab: 'about', anchor: 'skills'), id: "about-tab", class: "tab textBetween semi-bold #{'active' if params[:tab] == 'about' || !params[:tab] }", remote: true %>
      <%= link_to "Links", profile_path(@profile, tab: 'links', anchor: 'skills'), id: "link-tab", class: "tab textBetween semi-bold #{'active' if params[:tab] == 'links' }", remote: true %>
      <% third_tab = "Ratings" %>
      <% third_tab = "Reviews" if user_signed_in? && current_user.manager? %>
      <%= link_to "#{third_tab} (#{@ratings&.count})", profile_path(@profile, tab: 'notes', anchor: 'skills'), id: "note-tab", class: "tab textBetween semi-bold #{'active' if params[:tab] == 'notes' }", remote: true %>
    </div>

    <div id="tab-content">
      <%= render "#{params[:tab] || 'about' }_content", locals: { profile: @profile } %>
    </div>

  </div>
</div>




