<div class="generalProfile w-100">

  <div class="profileBanner" style="background-image: linear-gradient(to left, rgba(255,255,255,0.2),rgba(0,0,0,0.4)), url(<%= avatar_url(@profile) %>)">
    <div class="headerOptions flex w-100 justify-content-between p-3">
      <div>
        <%= link_to :back do %>
          <%= image_tag "icons/left-arrow-white.svg", alt: "back link", width: 24, height: 24, class: "mr-2 textSm" %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Name and description -->
  <div class="profileHeader">
    <div class="profileHeaderLeft">
      <h1><%= @profile.user.display_name %></h1>
      <p class="textGray"><%= @profile.profession %>, <%= @profile.location %></p>
    </div>
    <div class="profileHeaderRight">
      <div class="flex items-center justify-content-center mt-3">
        <div class="stars">
          <% @profile.average_rating.to_i.times do %>
            <%= image_tag "icons/colored-rating.svg", alt: "rating" %>
          <% end %>
          <% (5 - @profile.average_rating.to_i).times do %>
            <%= image_tag "icons/rating.svg", alt: "rating" %>
          <% end %>
          <span class="rating-size">(<%= @profile.ratings.size %>)</span>
          <p class="textGray uppercase semi-bold text-center textSm"><%= @profile.expertise %> level</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Buttons -->

  <!-- Add or Book button -->
  <div class="profileButtons flex justify-content-around p-3 pt-0">
    <%= link_to "#", class: "mr-3", class: "btn-lg px-0 btn-primary" do %>
        <%= image_tag "icons/share-white.svg", alt: "Share profile" %>
        <p class="textWhite">SHARE</p>
    <% end %>
      <div class="spacer">

      </div>

  <!-- Edit Button -->

    <%= link_to edit_profile_path(@profile), class: "btn-lg px-0 btn-white" do %>
      <%= image_tag "icons/edit.svg", alt: "edit" %> EDIT
    <% end %>
  </div>


  <!-- Skills -->
  <div class="container">
    <div class="profileSection  p-3" id="skills">
      <h3 class="small"><small class="textGray">KEY SKILLS</small></h3>
      <div class="flex justify-content-around skill-pills">
        <% @profile.skill_list.each do |skill| %>
          <span class="skill-pill"><%= skill %></span>
        <% end %>
      </div>
    </div>

    <!-- Tabs -->

    <div class="profileTabs" id="tabs">
      <%= link_to "About", profile_path(@profile, tab: 'about', anchor: 'skills'), id: "about-tab", class: "tab #{'active' if params[:tab] == 'about' || !params[:tab] }", remote: true %>
      <%= link_to "Links", profile_path(@profile, tab: 'links', anchor: 'skills'), id: "link-tab", class: "tab #{'active' if params[:tab] == 'links' }", remote: true %>
    </div>

    <div class="p-3" id="tab-content">
      <%= render "#{params[:tab] || 'about' }_content" %>
    </div>

  </div>
</div>


