<div class="generalProfile w-100">

  <div class="profileBanner relative" style="background-image: linear-gradient(to left, rgba(255,255,255,0.2),rgba(0,0,0,0.4)), url(<%= avatar_url(@profile) %>)">
    <div class="headerOptions flex justify-content-between p-3">
      <div>
        <%= link_to (@previous_page.match?(/step_two/) ? dashboard_path : :back) do %>
          <%= image_tag "icons/left-arrow-white.svg", alt: "back link", width: 24, height: 24, class: "mr-2 textSm" %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Name and description -->
  <div class="profileHeader">
    <div class="profileHeaderLeft">
      <h1><%= @profile.user.display_name %></h1>
      <p class="textGray"><%= @profile.profession %>, <%= @profile.location %></p>
    </div>
    <div class="profileHeaderRight">
      <div class="flex items-center justify-content-end mt-3">
        <div class="stars">
          <%= render partial: "ratings/content", locals: { profile: @profile } %>
        </div>
      </div>
    </div>
  </div>

  <!-- Buttons -->

  <!-- Share button -->
  <div class="profileButtons flex justify-content-around p-3">
    <%= link_to "#", class: "btn-lg px-0 btn-primary share-link", data: { url: "https://www.flxibl.io/profiles/#{@profile.id}", title: "#{@profile.display_name}'s' profile on flxibl", text: @profile.overview.truncate(120) }  do %>
        <%= image_tag "icons/share-white.svg", alt: "Share profile" %>
        <p class="textWhite">SHARE</p>
    <% end %>
      <div class="spacer">

      </div>

  <!-- Edit Button -->

    <%= link_to edit_profile_path(@profile), class: "btn-lg px-0 btn-white" do %>
      <%= image_tag "icons/edit.svg", alt: "edit" %> EDIT
    <% end %>
  </div>


  <!-- Skills -->
  <div class="container">
    <div class="profileSection  p-3" id="skills">
      <h3 class="small mb-2 mt-0"><small class="textGray">KEY SKILLS</small></h3>
      <div class="flex justify-content-start skill-pills mb-2">
        <% @profile.skill_list.each do |skill| %>
          <span class="skill-pill"><%= skill %></span>
        <% end %>
      </div>
    </div>

    <!-- Tabs -->

    <div class="profileTabs" id="tabs">
      <%= link_to "About", profile_path(@profile, tab: 'about', anchor: 'skills'), id: "about-tab", class: "tab #{'active' if params[:tab] == 'about' || !params[:tab] }", remote: true %>
      <%= link_to "Links", profile_path(@profile, tab: 'links', anchor: 'skills'), id: "link-tab", class: "tab #{'active' if params[:tab] == 'links' }", remote: true %>
      <%= link_to "Ratings (#{@ratings&.count})", profile_path(@profile, tab: 'notes', anchor: 'skills'), id: "note-tab", class: "tab #{'active' if params[:tab] == 'notes' }", remote: true %>
    </div>

    <div class="p-3" id="tab-content">
      <%= render "#{params[:tab] || 'about' }_content" %>
    </div>

  </div>
</div>


