<div class="container">
  <h1>My profile</h1>
  <div class="profileHeader flex">
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar, alt: "alttext", class: "profileAvatar rounded-circle" , height: 64, width: 64  %>
    <% else %>
      <%= image_tag "https://png.pngtree.com/png-clipart/20190520/original/pngtree-vector-users-icon-png-image_4144740.jpg", alt: "alttext", class: "profileAvatar rounded-circle", height: 64, width: 64 %>
    <% end %>
    <div class="profileHeaderRight">
      <h2><%= current_user.display_name %></h2>
      <p><%= current_user.email %></p>
    </div>
  </div>

  <div class="profileSection">
    <h3>Job title</h3>
    <p><%= @profile.profession %></p>
  </div>

  <div class="profileSection">
    <h3>Location</h3>
    <p><%= @profile.location&.capitalize %></p>
  </div>

  <div class="profileSection">
    <h3>Skills</h3>
    <p>This, That, Thing, Thong, Pung</p>
  </div>

  <div class="profileSection">
    <h3>Experience Level</h3>
    <p><%= @profile.expertise&.capitalize %></p>
  </div>

  <div class="profileSection">
    <h3>About you</h3>
    <p><%= @profile.overview %></p>
  </div>

  <% @profile.profile_attachments.includes(:attachment_attachment).each do |pa| %>
    <div class="profileSection">
      <h3><%= pa.title %></h3>
      <% if pa.attachment.attached? %>
        <%= link_to "Download", download_attachment_path(pa), method: :post  %>
      <% else %>
        <%= link_to sanitize_url(pa.url), sanitize_url(pa.url), target: :_blank  %>
      <% end %>
    </div>
  <% end %>
</div>
