<div class="profiles-index relative">
  <section class="head">
    <button>
      <%= image_tag "icons/search.svg", alt: "search" %>
    </button>
    <p>FREELANCERS</p>
    <button id="filter-trigger">
      <%= image_tag "icons/filter.svg", alt: "filter" %>
    </button>
  </section>

  <section class="switch flex justify-content-between p-3 my-3" style="background-color: #F9FBFE;">
    <%= link_to profiles_path, remote: true, class: "flex items-center btn #{params[:all] ? 'btn-transparent' : 'btn-white'}" do %>
      <%= image_tag "icons/person-check.svg", alt: "in network", class: "vertical-align-middle" %> My network
    <% end %>
    <%= link_to profiles_path(all: true), remote: true, class: "flex items-center btn #{params[:all] ? 'btn-white' : 'btn-transparent'}" do %>
      <%= image_tag "icons/people-dark.svg", alt: "everyone", class: "vertical-align-middle" %> Everyone
    <% end %>
  </section>

  <section class="cards">
    <% unless params[:ob].present? && params[:ob] == "t" %>
      <%= render partial: "profiles/cards", locals: { profiles: @profiles } %>
    <% else %>
      <!-- Put overlay after manager's sign in -->
      <div class="profiles-overlay flex flex-column items-center justify-content-start">
        <p class="main-text">
          Your network of freelancers will be stored here
        </p>
        <div class="flex-grow-1">
          <%= image_tag "icons/agenda.svg", alt: "agenda.svg" %>
        </div>
      </div>
    <% end %>
  </section>
  <div class="none" id="filter-content">
    <%= render partial: "profiles/filter_content" %>
  </div>
</div>

<%= javascript_pack_tag "components/ActionButton" %>
