<div class="profiles-index">
  <section class="head">
    <button>
      <%= image_tag "icons/search", alt: "search" %>
    </button>
    <p>FREELANCERS</p>
    <button>
      <%= image_tag "icons/filter", alt: "filter" %>
    </button>
  </section>

  <section class="switch flex justify-content-between p-3 my-3" style="background-color: #F9FBFE;">
    <%= link_to profiles_path(network: true), class: "flex items-center btn #{params[:network] ? 'btn-white' : 'btn-transparent'}" do %>
      <%= image_tag "icons/person-check", alt: "in network" %> My network
    <% end %>
    <%= link_to profiles_path, class: "flex items-center btn #{params[:network] ? 'btn-transparent' : 'btn-white'}" do %>
      <%= image_tag "icons/people", alt: "everyone" %> Everyone
    <% end %>
  </section>

  <section class="cards">
    <% if params[:network] %>
      <% if @profiles.size.positive? %>
        <% @profiles.each do |profile| %>
          <%= render partial: "profiles/card", locals: { profile: profile, invitation: false } %>
        <% end %>
      <% else %>
        <h2>You don't have any freelancers in your network</h2>
      <% end %>
    <% else %>
      <% @profiles.each do |profile| %>
        <%= render partial: "profiles/card", locals: { profile: profile, invitation: true } %>
      <% end %>
    <% end %>
  </section>
</div>
