<div class="profiles-index relative">
  <section class="head">
    <button>
      <%= image_tag "icons/search.svg", alt: "search" %>
    </button>
    <p>FREELANCERS</p>
    <button id="filter-trigger">
      <%= image_tag "icons/filter.svg", alt: "filter" %>
    </button>
  </section>

  <section class="switch flex justify-content-between p-3 my-3" style="background-color: #F9FBFE;">
    <%= link_to profiles_path(network: true), remote: true, class: "flex items-center btn #{params[:network] ? 'btn-white' : 'btn-transparent'}" do %>
      <%= image_tag "icons/person-check.svg", alt: "in network", class: "vertical-align-middle" %> My network
    <% end %>
    <%= link_to profiles_path, remote: true, class: "flex items-center btn #{params[:network] ? 'btn-transparent' : 'btn-white'}" do %>
      <%= image_tag "icons/people-dark.svg", alt: "everyone", class: "vertical-align-middle" %> Everyone
    <% end %>
  </section>

  <section class="cards">
    <%= render partial: "profiles/cards", locals: { profiles: @profiles } %>
  </section>

  <div class="add-more flex flex-column items-center justify-content-center">
    <p class="text-center textBlue bold textLg">Find more freelancers by posting a job</p>
    <%= image_tag "icons/phone-hand.svg", alt: "phone-hand", width: 312, height: 312 %>
  </div>

  <div class="none" id="filter-content">
    <%= render partial: "profiles/filter_content" %>
  </div>
</div>

