<%= link_to conversation_path(conversation), class: "no-decoration textBlack convo-snippet", data: { conversation_id: conversation.id } do %>
  <div class="my-3">
    <div class="convo-snippet-content-wrapper">
      <div class="flex">
        <% if other_person.avatar.attached? %>
        <div class="convo-avatar rounded-square" style="background-image: url(<%= other_person.avatar.service_url %>)">
        </div>
        <% else %>
          <%= image_tag "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_160x56dp.png", alt: "Avatar", width: 40, height: 40 %>
        <% end %>
        <div class="ml-3">
          <h5 class="noMargin"><%= other_person.display_name %></h5>
          <% if other_person.freelancer? %>
            <p class="detail noMargin textLightBlack semi-bold"><%= other_person.profile.profession %>, <%= other_person.profile.location %></p>
          <% end %>
          <p class="noMargin textLightBlack text-content"><%= truncate_snippet(conversation.last_message&.content) %></p>
        </div>
      </div>

      <% unread_count ||= conversation.messages.unread_user_scoped_count(current_user) %>
      <div class="flex flex-column justify-content-<%= unread_count.positive? ? "between" : "end" %> items-end right">
        <% if unread_count.positive? %>
          <span class="notification no-absolute mr-3"><%= unread_count %></span>
        <% end %>
        <% if conversation&.last_message %>
          <span class="time"><%= conversation.last_message&.timestamp %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
