<div class="convo-index">
  <section class="head">
    <%= link_to :back do %>
      <%= image_tag "icons/left-arrow.svg", alt: "back link", height: 24, width: 24, class: "mr-2" %>
    <% end %>
    <p class="">INBOX</p>
    <%= button_to "#", method: :get do %>
      <%= image_tag "icons/filter.svg", alt: "filter" %>
    <% end %>
  </section>

  <section class="switch flex justify-content-between p-3 my-3" style="background-color: #F9FBFE;">
    <%= link_to conversations_path(network: true), class: "flex items-center btn #{params[:network] ? 'btn-white' : 'btn-transparent'}" do %>
      <%= image_tag "icons/person-check", alt: "in network" %> My network
    <% end %>
    <%= link_to conversations_path, class: "flex items-center btn #{params[:network] ? 'btn-transparent' : 'btn-white'}" do %>
      <%= image_tag "icons/people-dark", alt: "everyone" %> Everyone
    <% end %>
  </section>

  <section id="conversations" class="mx-3">
    <% @conversations.each do |conversation| %>
      <% other_person ||= conversation.other_person(current_user) %>
      <%= render partial: "conversations/snippet", locals: { conversation: conversation, other_person: other_person } %>
    <% end %>
  </section>
</div>
