<div class="convo-show h-100 flex flex-column">
  <div class="convo-header">
    <section class="flex shadow pt-3 pb-2 px-3">
      <%= link_to conversations_path, class: "flex items-center" do %>
        <%= image_tag "icons/left-arrow.svg", alt: "back link", height: 24, width: 24, class: "mr-2" %>
      <% end %>
      <div class="flex items-center flex-grow-1">
        <% if @other_person.avatar.present? %>
          <div class="profile-card-avatar ml-3 rounded-square company-logo" style="background-image: url(<%= @other_person.avatar.service_url %>)">
          </div>
        <% else %>
          <%= image_tag "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_160x56dp.png", alt: "Avatar", width: 64, height: 64, class: "ml-3 rounded-square company-logo" %>
        <% end %>

        <div class="ml-3">
          <h3 class="noMargin"><%= @other_person.display_name %></h3>
          <% if @other_person.freelancer? %>
            <p class="noMargin semi-bold textGray"><%= @other_person.profile.profession %></p>
            <span class="textMd textGray"><%= @other_person.profile.location %></span>
          <% end %>
        </div>
      </div>
      <button><%= image_tag "icons/search.svg", alt: "search", width: 24, height: 24, class: "ml-3 opaque" %></button>
    </section>
  </div>

  <%= simple_form_for :conversation, method: :GET, url: conversation_path(@conversation), remote: true, html: { id: "fetch-more-messages", class: "none" } do |f| %>
    <%= f.input :timestamp, input_html: { value: @messages.first.created_at }, label: false, wrapper: false %>
  <% end %>

  <section class="flex-grow-1" id="messages" data-current-user-id="<%= current_user.id %>" data-conversation-id="<%= @conversation.id %>">
    <%= render partial: "messages/messages", locals: { conversation: @conversation, rate: @rate, messages: @messages } %>
  </section>

  <div class="message-form flex items-end">
    <%= simple_form_for [@conversation, @message], remote: true, html: {class: "flex-grow-1"} do |f| %>
      <%= f.input :content, as: :string, label: false, placeholder: "Type a message...", input_html: { class: "rounded-pill", autocomplete: "off", value: @booking ? prefilled_message(@booking) : nil } %>
    <% end %>
    <% if current_user.manager? %>
      <% unless current_user.find_connection(@conversation.profile.user) %>
        <%= link_to profile_connections_path(@conversation.profile), method: :post, class: "action", remote: true do %>
          <%= image_tag "icons/person-add.svg", alt: "connection add", class: "p-1 mr-2 icon", width: 32, height: 32 %>
        <% end %>
      <% else %>
        <%= link_to new_profile_booking_path(@conversation.profile), class: "action" do %>
          <%= image_tag "icons/calendar.svg", alt: "calendar", class: "p-1 mr-2 icon", width: 32, height: 32 %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
