<div class="convo-show">
  <section class="flex shadow">
    <%= link_to :back, class: "flex items-center" do %>
      <%= image_tag "icons/left-arrow", alt: "back link", height: 24, width: 24 %>
    <% end %>
    <div class="flex items-center">
      <% if @other_person.avatar.present? %>
        <%= image_tag @other_person.avatar.service_url, alt: "Avatar", width: 80, height: 80, class: "ml-3" %>
      <% else %>
        <%= image_tag "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_160x56dp.png", alt: "Avatar", width: 80, height: 80, class: "ml-3" %>
      <% end %>

      <div class="ml-3">
        <h3 class="noMargin"><%= @other_person.display_name %></h3>
        <% if @other_person.freelancer? %>
          <p class="noMargin"><%= @other_person.profile.profession %></p>
          <span><%= @other_person.profile.location %></span>
        <% end %>
      </div>
    </div>
  </section>

  <section class="mt-2" id="messages" data-conversation-id="<%= @conversation.id %>">
    <% @conversation.messages.each do |message| %>
      <%= render partial: "messages/message", locals: { message: message } %>
    <% end %>
  </section>

  <section>
    <%= simple_form_for [@conversation, @message], remote: true do |f| %>
      <%= f.input :content, as: :string, label: false, placeholder: "Type a message..." %>
    <% end %>
  </section>
</div>
