<div class="bg-white shadow rounded p-3 mb-3 flex justify-content-between freelancer-job-card" data-path="<%= job_path(job) %>">
  <div class="flex flex-column">
    <h3 class="m-0"><%= job.profession %></h3>
    <p class="uppercase textLightBlack my-2 textSm">Experience Level: <%= job.expertise %></p>
    <p class="uppercase textLightBlack mt-0 mb-2 textSm"><%= job.full_timestamp %></p>
    <div class="flex items-center">
      <%= image_tag "icons/location.svg", alt: "Location", class: "vertical align-middle" %>
      <span class="ml-2 textBetween textLightBlack"><%= job.location %></span>
    </div>
  </div>

  <div class="flex items-start right">
    <div class="flex flex-column">
      <% if job.manager.company.logo.attached? %>
        <%= image_tag job.manager.company.logo.service_url, alt: "Company logo", class: "logo avatar avatar-square shadow" %>
      <% else %>
        <%= image_tag job.manager.user.avatar.service_url, alt: "Company logo", class: "logo avatar avatar-square shadow" %>
      <% end %>
      <p class="text-center mt-2 semi-bold mb-0"><%= job.manager.company.name %></p>
      <% if current_user.profile.has_applied_for?(job) %>
        <span class="uppercase freelancer skill-pill brown textSm text-center">Applied</span>
      <% end %>
    </div>
    <div class="relative">
      <div class="none actions-container">
        <div class="actions flex flex-column bookings-index">
          <%= link_to "Something goes here", "#", class: "action-link" %>
        </div>
      </div>
      <button type="button" class="trigger px-0 ml-2"><%= image_tag "icons/more.svg", alt: "Sub-menu", width: 24, height: 24 %></button>
    </div>
  </div>
</div>
