<div class="job-simple-card p-3 flex justify-content-between items-center" data-job-id="<%= job.id %>">
  <div class="flex">
    <% if job.manager.user.avatar.attached? %>
      <%= image_tag job.manager.user.avatar.service_url, class: "avatar avatar-circle small", alt: "Manager avatar" %>
    <% else %>
      <%= image_tag job.manager.company.logo.service_url, class: "avatar avatar-circle small", alt: "Company logo" %>
    <% end %>

    <div class="flex flex-column ml-3">
      <h3 class="m-0"><%= job.profession %></h3>
      <p class="m-0"><%= pluralize job.job_applications.count, "applicant" %></p>
    </div>
  </div>
  <input type="checkbox" class="indicator" />
</div>
