<div class="mx-3 job-edit">
  <div class="flex justify-content-between items-center px-3">
    <%= link_to job_path(@job) do %>
      <%= image_tag "icons/left-arrow.svg", alt: "back button", width: 16, height: 16 %>
    <% end %>
    <h3>Edit job</h3>
    <button><%= image_tag "icons/more.svg", alt: "search", width: 16, height: 16 %></button>
  </div>

  <section>
    <%= simple_form_for @job do |f| %>
      <%= f.input :profession, required: false,
                  label: "Job title", label_html: { class: "mb-1" },
                  wrapper_html: { class: "flex flex-column mb-3" } %>
      <%= f.input :description, required: false,
                  label_html: { class: "mb-1" },
                  wrapper_html: { class: "flex flex-column mb-3" },
                  input_html: { rows: 5 } %>
      <%= f.input :skill_list, label: "Key skills",
                  wrapper_html: { class: "flex flex-column mb-3" } %>
      <%= f.input :expertise, collection: Job.expertises.map { |ex| [ex[0].capitalize, ex[0]] },
                  wrapper_html: { class: "flex flex-column mb-3" },
                  required: false %>
      <%= f.input :location, placeholder: "London, United Kingdom",
                  wrapper_html: { class: "flex flex-column mb-3" },
                  required: false %>
      <div class="flex justify-content-between items-end mb-3">
        <div class="bookingSpecific">
          <label class="block textGray nowrap">Hours per day</label>
          <div class="inputs flex items-center">
            <%= f.input :start_time, label: false,
                        as: :string,
                        label_html: { class: "block textGray nowrap" },
                        input_html: { class: "w-100", list: "time-options", autocomplete: false, value: @job.start_time&.strftime("%H:%M") } %>
            <span class="self-centered mx-2"> - </span>
            <%= f.input :end_time, label: false,
                        as: :string,
                        input_html: { class: "w-100", list: "time-options", autocomplete: false, value: @job.end_time&.strftime("%H:%M") } %>
          </div>
          <%= render partial: "shared/time_options" %>
        </div>
        <div class="bookingDuration none">
          <%= f.input :duration,
                      label: "Hours per day",
                      wrapper_html: { class: "flex flex-column" } %>
        </div>
        <div class="profileTabs flex-grow-1 textSm mr-0" id="tabs">
          <%= link_to "Duration", "#", id: "duration", class: "tab", data: { turbolinks: false } %>
          <%= link_to "Specific", "#", id: "specific", class: "tab active", data: { turbolinks: false } %>
        </div>
      </div>
      <div class="flex items-center justify-content-between mt-3">
        <div class="dates-input-wrapper">
          <label for="dates" class="block textGray">Dates</label>
          <input id="job-datepicker" type="text" name="dates" class="mb-2 w-100 datepicker">
        </div>
        <%= f.input :start_date, as: :hidden,
                    wrapper_html: { class: "flex flex-column mb-3 mr-3 none" } %>
        <%= f.input :end_date, as: :hidden,
                    wrapper_html: { class: "flex flex-column mb-3 none" } %>

        <div class="weekends-contain">
          <%= render partial: "shared/checkbox", locals: { label: "Incl. weekends", name: "job[weekends]", active: false, id: "job_weekends" } %>
        </div>
      </div>
      <div class="flex">
        <%= f.input :rate, label: "Max budget", placeholder: "$250",
                    label_html: { class: "block textGray nowrap" },
                    wrapper_html: { class: "flex flex-column mb-3 mr-3" },
                    required: false %>
        <%= f.input :price_type, collection: Job.price_types.map { |ex| [ex[0].capitalize, ex[0]] },
                    wrapper_html: { class: "flex flex-column mb-3" },
                    label_html: { class: "block textGray nowrap" } %>
      </div>
      <%= f.input :attachments, as: :file, input_html: { multiple: true },
                  label_html: { class: "block textGray nowrap" } %>
      <%= f.submit "Update Job", class: "btn btn-primary w-100 my-3 py-2" %>
    <% end %>
  </section>
</div>
