<div class="jobs-index">
  <div class="flex justify-content-between items-center px-3 pt-4">
    <%= link_to dashboard_path do %>
      <%= image_tag "icons/left-arrow.svg", alt: "back button", width: 16, height: 16 %>
    <% end %>
    <p class="textDarkGray uppercase">Job posts</p>
    <button id="filter-trigger" type="button">
      <%= image_tag "icons/filter.svg", alt: "filter", width: 16, height: 16 %>
    </button>

    <div id="filter-content" class="none">
      <%= render partial: "jobs/filter_content" %>
    </div>
  </div>

  <section class="switch flex bg-blueish-gray py-2 my-3 px-3">
    <% if current_user.manager? %>
      <% Job.statuses.keys.first(2).each do |k| %>
        <%= link_to k, jobs_path(status: Job.statuses[k]), remote: true,
                    data: { status: Job.statuses[k] },
                    class: "btn w-100 text-center btn-#{params[:status]&.to_i == Job.statuses[k] ? "white" : "transparent"}" %>
      <% end %>
      <%= link_to "ALL", jobs_path(status: -1), remote: true,
                  data: { status: -1 },
                  class: "btn w-100 text-center btn-#{!params[:status] ? "white" : "transparent"}" %>
    <% else %>
      <%= link_to "All Listings", jobs_path, class: "btn w-100 text-center btn-#{!params[:applied] ? "white" : "transparent"}" %>
      <%= link_to "Applied for", jobs_path(applied: true), class: "btn w-100 text-center btn-#{params[:applied] ? "white" : "transparent"}" %>
    <% end %>
  </section>

  <section class="jobs bg-blueish-gray px-3">
    <%= render partial: "jobs/job_cards", locals: { jobs: @jobs } %>
  </section>
</div>
