<div class="jobs-new">
  <section class="mx-3 flex justify-content-between items-center">
    <%= link_to jobs_path do %>
      <%= image_tag "icons/cross.svg", alt: "exit", class: "icon" %>
    <% end %>
    <h1>NEW JOB POST</h1>
    <%= image_tag "icons/more.svg", alt: "more", class: "icon more opaque noSelect" %>
  </section>

  <section class="content">
    <%= simple_form_for @job do |f| %>
      <div class="mx-3">
        <%= f.input :profession, label: "Job title",
                    placeholder: "Photographer",
                    label_html: { class: "textLightBlack" },
                    wrapper_html: { class: "flex flex-column mb-3" },
                    required: false %>
        <%= f.input :description, placeholder: "Something here",
                    label_html: { class: "textLightBlack" },
                    wrapper_html: { class: "flex flex-column mb-3" },
                    required: false %>
        <%= f.input :skill_list, label: "Key skills",
                    label_html: { class: "textLightBlack" },
                    wrapper_html: { class: "flex flex-column mb-3" } %>
        <%= f.input :expertise, label: "Experience level",
                    collection: Job.expertises.map { |ex| [ex[0].capitalize, ex[0]] },
                    wrapper_html: { class: "flex flex-column mb-3" },
                    label_html: { class: "textLightBlack" },
                    required: false %>
        <%= f.input :location, placeholder: "London, United Kingdom",
                    wrapper_html: { class: "flex flex-column mb-3" },
                    label_html: { class: "textLightBlack" },
                    required: false %>
        <%= f.input :expiration_date, wrapper_html: { class: "flex flex-column mb-3" },
                    label_html: { class: "textLightBlack" },
                    required: false, html5: true, as: :date %>
        <!-- TODO: Add checkbox here with JS functionality that toggles show/hide of date & time columns -->
        <div class="flex justify-content-between items-end flex-shrink-2">
          <!-- Start time and end time OR duration input -->
          <div class="bookingHours w-100">
            <div class="bookingSpecific">
              <label class="block textLightBlack nowrap">Hours per day</label>
              <div class="inputs flex items-center">
                <%= f.input :start_time, label: false, label_html: { class: "block textLightBlack nowrap" }, input_html: { class: "w-100 start-timepicker border-box" }, as: :string %>
                <span class="self-centered mx-2"> - </span>
                <%= f.input :end_time, label: false, input_html: { class: "w-100 end-timepicker border-box" }, as: :string %>
              </div>
            </div>

            <!-- Hidden duration -->
            <div class="bookingDuration none">
              <%= f.input :duration, label_html: { class: "block textLightBlack" }, input_html:{class: "w-100"} %>
            </div>
          </div>
          <!-- End of left side -->

          <!-- Duration toggler -->
          <div class="profileTabs border-box flex-grow-1 textSm mr-0" id="tabs">
            <%= link_to "Duration", "#", id: "duration", class: "tab", data: { turbolinks: false } %>
            <%= link_to "Specific", "#", id: "specific", class: "tab active", data: { turbolinks: false } %>
          </div>
        </div>

        <!-- Dates input -->
        <div class="flex items-end justify-content-between mt-3">

          <div class="dates-input-wrapper">
            <label for="dates" class="block textLightBlack">Dates</label>
            <input id="job-datepicker" type="text" name="dates" class="mb-2 w-100 datepicker">
          </div>

          <div>
            <%= f.input :weekends, label: "Incl. weekends", input_html: { class: "mr-2" }, label_html: { class: "block textLightBlack nowrap flex items-center" }, wrapper_html: { class: "flex flex-row-reverse items-center mb-2"} %>
          </div>
        </div>

        <!-- Hidden inputs for start and end dates -->
        <%= f.input :start_date, label: "sd", label_html: { class: "block textLightBlack" }, input_html:{class: "mb-2 w-100"}, as: :hidden %>

        <%= f.input :end_date, label: "ed", input_html:{class: "mb-2 w-100"}, as: :hidden %>

        <!-- TODO: Add checkbox here with JS functionality that toggles show/hide of date & time columns -->
        <div class="flex my-3">
          <%= f.input :rate, label: "Max budget", placeholder: "$250",
                      label_html: { class: "textLightBlack" },
                      wrapper_html: { class: "flex flex-column mr-3" },
                      required: false %>
          <%= f.input :price_type, collection: Job.price_types.map { |ex| [ex[0].capitalize, ex[0]] },
                      label_html: { class: "textLightBlack" },
                      wrapper_html: { class: "flex flex-column w-100" } %>
        </div>
        <%= f.input :attachments, as: :file,
                    input_html: { multiple: true },
                    label_html: { class: "textLightBlack" },
                    wrapper_html: { class: "mb-3" } %>
      </div>
      <div class="separator">
        <div class="mx-3">
          <button type="submit" class="btn btn-secondary">
            <div class="flex items-center justify-content-center">
              <%= image_tag "icons/brief.svg", alt: "brief" %>
              <span class="textWhite bold">Post job</span>
            </div>
          </button>
        </div>
      </div>
    <% end %>
  </section>
</div>
