<div class="job-show">
  <div class="mx-3 pt-3 flex justify-content-between items-center">
    <div class="flex items-center">
      <%= link_to :back do %>
        <%= image_tag "icons/left-arrow.svg", alt: "back link", width: 16, height: 16 %>
      <% end %>
      <div class="flex items-center ml-3">
        <% if @job.company.logo.attached? %>
          <%= image_tag @job.company.logo.service_url, alt: "company logo", width: 40, height: 40 %>
        <% else %>
          <%= image_tag "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_160x56dp.png", alt: "company logo", width: 40, height: 40 %>
        <% end %>
        <div class="ml-3">
          <h3 class="m-0"><%= @job.profession %></h3>
          <p class="m-0"><%= @job.company.name %></p>
        </div>
      </div>
    </div>
    <%= image_tag "icons/more.svg", alt: "more", width: 24, height: 24 %>
  </div>

  <section class="mx-3">
    <%= link_to profiles_path(job_id: @job.id), class: "btn btn-secondary my-3" do %>
      <div class="flex justify-content-center items-center">
        <%= image_tag "icons/people.svg", alt: "people", width: 24, height: 24 %>
        <span class="textWhite">View applicants (<%= @job.job_applications.count %>)</span>
      </div>
    <% end %>
    <div class="applicant-avatars">
      <% @job.job_applications.includes(profile: [user: :avatar_attachment]).limit(5).each do |ja| %>
        <%= render partial: "profiles/small_avatar", locals: { profile: ja.profile } %>
      <% end %>
      <% last_application ||= @job.job_applications.last %>
      <div class="small-avatar">
        <div class="last-avatar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= avatar_url(last_application.profile) %>');">
          + <%= @job.job_applications.count - 5 %>
        </div>
      </div>
    </div>
  </section>

  <section class="text-block mx-3 uppercase">
    <p>Maximum budget <%= @job.rate %> <%= @job.price_type %></p>
    <p><%= @job.start_date.strftime("%d %b") %> - <%= @job.end_date.strftime("%d %b") %>, <%= @job.start_time.strftime("%H:%M") %> - <%= @job.end_time.strftime("%H:%M") %></p>
    <p><%= @job.location %></p>
    <div class="skills">
      <p class="subtitle">Key Skills</p>
      <div class="skill-pills">
        <% @job.skill_list.each do |skill| %>
          <div class="skill-pill"><%= skill %></div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="mx-3">
    <p><%= @job.description %></p>
  </section>
</div>
