<div class="job-show">
  <div class="mx-3 pt-3 mt-3 flex justify-content-between items-start">
    <div class="flex items-start w-100">
      <%= link_to :back do %>
        <%= image_tag "icons/left-arrow.svg", alt: "back link", width: 24, height: 24, class: "mr-2 textSm" %>
      <% end %>
      <div class="flex items-start ml-3 flex-grow-1">
        <div class="flex flex-column justify-content-center items-center mr-2">
          <% if @job.company.logo.attached? %>
            <div class="company-logo" style="background-image: url(<%= @job.company.logo.service_url %>)">
          </div>
          <% else %>
            <%= image_tag "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_160x56dp.png", alt: "company logo", width: 40, height: 40, class: "company-logo" %>
          <% end %>
          <span class="uppercase skill-pill mx-0 <%= @job.status == "live" ? "blue": "brown" %>"><%= @job.status %></span>
        </div>
        <div class="ml-3 navHeader">
          <h3 class="m-0"><%= @job.profession %></h3>
          <p class="m-0 textGray"><%= @job.company.name %></p>
          <p class="m-0 textGray"><%= @job.location %></p>
        </div>
      </div>
      <% if !user_signed_in? || current_user.profile %>
        <%= link_to "#", class: "action-link share-link", data: { url: "https://www.flxibl.io/jobs/#{@job.id}", title: "Shared job from flxibl app", text: @job.description.truncate(120) } do %>
          <%= image_tag "icons/share", alt: "share", width: 24, height: 24 %>
        <% end %>
      <% end %>
    </div>
    <% if user_signed_in? && @job.manager == current_user.manager %>
      <div class="relative">
        <div class="none actions-container">
          <div class="actions flex flex-column job-show">
            <%= link_to edit_job_path(@job), class: "action-link" do %>
              EDIT
            <% end %>
            <%= link_to "#", class: "action-link share-link", data: { url: "https://www.flxibl.io/jobs/#{@job.id}", title: "Shared job from flxibl app", text: @job.description.truncate(120) } do %>
              SHARE
            <% end %>
            <%= link_to "#", class: "action-link" do %>
              CREATE BOOKING
            <% end %>
            <%= link_to "#", class: "action-link" do %>
              ARCHIVE
            <% end %>
          </div>
        </div>

        <button class="trigger">
          <%= image_tag "icons/more.svg", class: "toggler", alt: "more", width: 24, height: 24 %>
        </button>
      </div>
    <% end %>
  </div>

  <section class="mx-3">
    <% if !user_signed_in? %>
      <% false %>
    <% elsif current_user.manager? %>
      <%= link_to profiles_path(job_id: @job.id), class: "btn btn-secondary mt-4 mb-3 mx-3" do %>
        <div class="flex justify-content-center items-center">
          <%= image_tag "icons/people.svg", alt: "people", width: 24, height: 24, class: "mr-3" %>
          <span class="textWhite">View applicants (<%= @job.job_applications.count %>)</span>
        </div>
      <% end %>
    <% else %>
      <% if JobApplication.find_by(job: @job, profile: current_user.profile) %>
        <h5 class="uppercase textBetween text-dark-5 alternate semi-bold text-center">You have already applied to this job</h5>
      <% elsif current_user.freelancer? && current_user.find_connection(@job.manager.user) %>
        <%# Don't render button %>
      <% else %>
        <button id="modal-toggler" class="btn btn-secondary my-3 w-100">
          <div class="flex justify-content-center items-center">
            <%= image_tag "icons/people.svg", alt: "people", width: 24, height: 24, class: "mr-3" %>
            <span class="textWhite">Apply</span>
          </div>
        </button>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <div class="applicant-avatars">
        <% @job.job_applications.includes(profile: [user: { avatar_attachment: :blob }]).limit(5).each do |ja| %>
          <%= render partial: "profiles/small_avatar", locals: { profile: ja.profile, size: 16 } %>
        <% end %>
        <% last_application ||= @job.job_applications.last %>
        <% if last_application && (@job.job_applications.count - 5).positive? %>
          <div class="small-avatar">
            <div class="last-avatar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= avatar_url(last_application.profile) %>');">
              + <%= @job.job_applications.count - 5 %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= link_to new_user_session_path, class: "action-link flex items-center w-100 btn btn-primary textWhite py-3 w-100 border-box justify-content-center my-4" do %>
        <%= image_tag "icons/zap-white.svg", alt: "zap profile", width: 32, height: 32, class: "mr-3" %>
        SIGN IN TO APPLY
      <% end %>
    <% end %>
  </section>

  <section class="text-block mx-3 mb-3 uppercase">
    <p class="mb-3"><strong class="textDarkGray">experience level:</strong> <%= @job.expertise %> </p>
    <p class="mb-3"><strong class="textDarkGray">budget:</strong> <%= @job.rate %> <%= @job.price_type %></p>
    <p>
      <%= @job.start_date&.strftime("%d %b") %> <strong class="textDarkGray">-</strong> <%= @job.end_date&.strftime("%d %b") %>,
      <% if @job.start_time && @job.end_time %>
        <%= @job.start_time&.strftime("%H:%M") %> <strong class="textDarkGray">-</strong> <%= @job.end_time&.strftime("%H:%M") %>
      <% else %>
        <%= @job.duration %> hours / day
      <% end %>
    </p>
    <div class="skills mt-4">
      <p class="subtitle mb-0">Key Skills</p>
      <div class="skill-pills px-0">
        <% @job.skill_list.each do |skill| %>
          <div class="skill-pill"><%= skill %></div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="mx-3">
    <p class="textGray"><%= @job.description %></p>
  </section>
</div>

<% if user_signed_in?  && current_user.profile %>
  <div class="none" id="modal-content">
    <div class="card-content">
      <%= image_tag "message-bubble.svg", alt: "message bubble", id: "bubble" %>
      <div class="text-center">
        <h1 class="textLg textDarkOne mt-0">Sell yourself</h1>
        <p class="textLightBlack">In less than 200 words, let <%= @job.manager.company.name %> know why they should hire you</p>
        <%= simple_form_for [@job, JobApplication.new], html: { class: "flex flex-column items-center justify-content-center" } do |f| %>
          <%= f.input :cover_letter, label: false,
                      input_html: { rows: 4, placeholder: "Subtly charming bacon evangelist. Coffee guru. Twitter junkie. Lifelong travel ninja. Subtly charming bacon evangelist. Coffee guru. Twitter junkie. Lifelong travel ninja." } %>

          <button type="submit" class="uppercase btn btn-white w-100 mt-3">
            <%= image_tag "icons/message.svg", alt: "Send application", class: "vertical-align-middle" %> Send
          </button>
        <% end %>
        <div class="flex justify-content-center mt-3">
          <button type="button" id="modal-exit" class="btn btn-float blue textMd">Skip</button>
        </div>

      </div>
    </div>
  </div>
<% end %>
<div class="shareModalContainer"></div>
<%= javascript_pack_tag "components/ShareModal" %>
