<div>
  <% if first %>
    <p class="uppercase mt-0 mb-3"><%= week(day) %></p>
  <% end %>
  <div class="booking-card bg-white mb-3 <%= booking.status %>" data-id="<%= booking.id %>" role="button">
    <div class="flex justify-content-between items-center">
      <div class="flex flex-column">
        <h3 class="m-0 textMd mb-1"><%= booking.title %></h3>
        <p class="m-0 textSm uppercase"><%= booking.full_date_time %></p>
        <div class="flex items-center mt-3">
          <%= image_tag avatar_url(booking.profile), alt: "Profile's avatar", class: "avatar small avatar-circle mr-2" %>
          <div class="flex flex-column">
            <h5 class="m-0 textBetween"><%= booking.profile.user.display_name %></h5>
            <p class="m-0 textSm textLightBlack"><%= booking.profile.profession %></p>
          </div>
        </div>
      </div>
      <div class="relative">
        <div class="none actions-container" data-id="<%= booking.id %>">
          <div class="actions flex flex-column bookings-index">
            <% if policy(booking).accept_or_reject? %>
              <%= simple_form_for booking, url: booking_update_status_path(booking) do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 1 } %>
                <button class="action-link text-start w-100 textMd" type="submit">
                  <%= image_tag "icons/checkmark.svg", alt: "Accept booking", class: "vertical-align-middle pl-1 mr-2", width: 18, height: 18 %> Accept
                </button>
              <% end %>
              <%= simple_form_for booking, url: booking_update_status_path(booking) do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 2 } %>
                <button class="action-link text-start w-100 textMd" type="submit">
                  <%= image_tag "icons/cross-white.svg", alt: "Accept booking", class: "vertical-align-middle pl-1 mr-2", width: 18, height: 18 %> Reject
                </button>
              <% end %>
            <% end %>
            <% convo ||= Conversation.find_by(manager: booking.manager, profile: booking.profile) %>
            <% if convo %>
              <%= link_to conversation_path(convo), class: "action-link" do %>
                <%= image_tag "icons/message-white.svg", alt: "message icon", width: 16, height: 16, class: "vertical-align-middle mr-2 pl-1" %> Message
              <% end %>
            <% else %>
              <%= link_to profile_conversations_path(conversation: { profile_id: booking.profile.id }, profile_id: booking.profile.id), method: :post, class: "action-link" do %>
                <%= image_tag "icons/message-white.svg", alt: "message icon", width: 16, height: 16, class: "vertical-align-middle mr-2 pl-1" %> Message
              <% end %>
            <% end %>
          </div>
        </div>
        <button class="trigger" data-id="<%= booking.id %>">
          <%= image_tag "icons/more.svg", alt: "more", width: 16, height: 16 %>
        </button>
      </div>
    </div>
  </div>
</div>
