<div class="booking-card <%= booking.status %> mb-3">
  <div class="flex justify-content-between items-center">
    <div class="flex flex-column">
      <h3 class="m-0 textMd mb-1"><%= booking.title %></h3>
      <p class="m-0 textSm uppercase"><%= booking.full_date_time %></p>
      <div class="flex items-center mt-3">
        <%= image_tag avatar_url(booking.profile), alt: "Profile's avatar", class: "avatar small avatar-circle mr-2" %>
        <div class="flex flex-column">
          <h5 class="m-0 textBetween"><%= booking.profile.user.display_name %></h5>
          <p class="m-0 textSm textLightBlack"><%= booking.profile.profession %></p>
        </div>
      </div>
    </div>
    <div class="relative">
      <div class="none actions-container" data-booking-id="<%= booking.id %>">
        <div class="actions flex flex-column bookings-index">
          <%= link_to "Edit", edit_booking_path(booking), class: "action-link" %>
          <% convo ||= Conversation.find_by(manager: booking.manager, profile: booking.profile) %>
          <% if convo %>
            <%= link_to "Message", conversation_path(convo), class: "action-link" %>
          <% else %>
            <%= link_to "Message", profile_conversations_path(conversation: { profile_id: booking.profile.id }, profile_id: booking.profile.id), method: :post, class: "action-link" %>
          <% end %>
        </div>
      </div>
      <button class="trigger" data-booking-id="<%= booking.id %>">
        <%= image_tag "icons/more.svg", alt: "more", width: 16, height: 16 %>
      </button>
    </div>
  </div>
</div>
