<div class="booking-edit <%= 'manager' if current_user.manager? %>">
  <section class="mx-3 mt-4 flex justify-content-between items-center">
    <%= link_to @last_url do %>
      <%= image_tag "icons/left-arrow.svg", alt: "back", class: "icon", height: 16, width: 16 %>
    <% end %>

    <% if @booking.manager == current_user.manager %>
    <p class="textDarkGray uppercase">Edit booking</p>
      <div class="relative">
        <div class="none actions-container">
          <div class="actions flex flex-column job-show">
            <%= link_to new_profile_booking_path("no_profile", parent_id: @booking.id, select: true), class: "action-link" do %>
              <%= image_tag "icons/copy.svg", alt: "copy icon", width: 22, height: 22, class: "vertical-align-middle" %> Duplicate
            <% end %>
            <% convo ||= Conversation.find_by(manager: @booking.manager, profile: @booking.profile) %>
            <% if convo %>
              <%= link_to conversation_path(convo, booking_id: @booking.id, anchor: "message-#{convo.messages.last&.id}"), class: "action-link" do %>
                <%= image_tag "icons/message-white.svg", alt: "message icon", width: 16, height: 16, class: "vertical-align-middle mr-2 pl-1" %> Message
              <% end %>
            <% else %>
              <%= link_to profile_conversations_path(conversation: { profile_id: booking.profile.id }, profile_id: booking.profile.id), method: :post, class: "action-link" do %>
                <%= image_tag "icons/message-white.svg", alt: "message icon", width: 16, height: 16, class: "vertical-align-middle mr-2 pl-1" %> Message
              <% end %>
            <% end %>
            <% if policy(@booking).cancel? %>
              <%= button_to booking_cancel_path(@booking), method: :patch, class: "action-link", data: { confirm: "Are you sure you want to cancel the booking?" } do %>
                <%= image_tag "icons/x-square.svg", alt: "Cancel", width: 20, height: 20, class: "vertical-align-middle mr-2" %> Cancel
              <% end %>
            <% end %>
          </div>
        </div>

        <button class="trigger">
          <%= image_tag "icons/more.svg", class: "toggler", alt: "more", width: 24, height: 24 %>
        </button>
      </div>
    <% end %>
  </section>
  <section class="mt-3">
    <div class="flex mx-3">
      <% if @booking.profile.user.avatar.attached? %>
        <%= image_tag @booking.profile.user.avatar.service_url, alt: "Avatar", width: 40, height: 40 %>
      <% else %>
        <%= image_tag "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_160x56dp.png", alt: "Avatar", width: 40, height: 40 %>
      <% end %>
      <div class="ml-3">
        <h5 class="noMargin"><%= @booking.profile.user.display_name %></h5>
        <p class="noMargin textLightBlack semi-bold"><%= @booking.profile.profession %></p>
      </div>
    </div>

    <%= simple_form_for @booking, html: { class: "mt-3" } do |f| %>
      <% if current_user.freelancer? %>
      <fieldset disabled="disabled">
      <% end %>

      <div class="mx-3">
        <%= f.input :title, required: false,
                    label: "Project/Client",
                    label_html: { class: "mb-1 textLightBlack" },
                    wrapper_html: { class: "flex flex-column mb-3" } %>
        <%= f.input :description, required: false,
                    label_html: { class: "mb-1 textLightBlack" },
                    wrapper_html: { class: "flex flex-column mb-3" },
                    input_html: { rows: 4 } %>
        <div class="flex justify-content-between items-end mb-3">
          <div class="bookingSpecific flex flex-column <%= 'none' if @booking&.duration %>">
            <label class="block textGray nowrap">Hours per day</label>
            <div class="inputs flex items-center">
              <%= f.input :start_time, label: false,
                          as: :string,
                          label_html: { class: "block textGray nowrap" },
                          input_html: { class: "w-100", list: "time-options", autocomplete: false, value: @booking.start_time&.strftime("%H:%M") } %>
              <span class="self-centered mx-2"> - </span>
              <%= f.input :end_time, label: false,
                          as: :string,
                          input_html: { class: "w-100", list: "time-options", autocomplete: false, value: @booking.end_time&.strftime("%H:%M") } %>
            </div>
            <%= render partial: "shared/time_options" %>
          </div>
          <div class="bookingDuration <%= 'none' unless @booking&.duration %>">
            <%= f.input :duration,
                        label_html: { class: "block textGray nowrap" },
                        input_html: { class: "mb-2 w-100" },
                        wrapper_html: { class: "flex flex-column" } %>
          </div>
          <div class="profileTabs flex-grow-1 textSm mr-0" id="tabs">
            <%= link_to "Duration", "#", id: ("duration" if current_user.manager?), class: "tab #{'active' if @booking&.duration}", data: { turbolinks: false } %>
            <%= link_to "Specific", "#", id: ("specific" if current_user.manager?), class: "tab #{'active' unless @booking&.duration}", data: { turbolinks: false } %>
          </div>
        </div>
        <div class="flex items-end justify-content-between dates-selector">
          <div class="dates-input-wrapper">
            <label for="dates" class="block textGray">Dates</label>

            <% if current_user.freelancer? %>
            <input id="" value='<%= "#{@booking&.start_date&.strftime("%b %d")} - #{@booking&.end_date&.strftime("%b %d")}" %>' type="text" name="dates" class="mb-2 w-100">
            <% else %>
              <input id="edit-booking-datepicker" value='<%= "#{@booking&.start_date&.strftime("%b %d")} - #{@booking&.end_date&.strftime("%b %d")}" %>' type="text" name="dates" class="mb-2 w-100 datepicker">

            <% end %>

            <%= f.input :start_date, as: :hidden,
                        wrapper_html: { class: "flex flex-column mb-3 mr-3 none" } %>
            <%= f.input :end_date, as: :hidden,
                        wrapper_html: { class: "flex flex-column mb-3 none" } %>
          </div>

          <div class="weekends-contain">
            <%= render partial: "shared/checkbox", locals: { label: "Incl. weekends", name: "booking[weekends]", active: @booking.weekends, id: "booking_weekends" } %>
          </div>
        </div>
        <div class="flex mb-3">
          <%= render partial: "shared/checkbox", locals: { label: "Billable", name: "booking[billable]", active: @booking.billable, id: "booking_billable_true" } %>
        </div>
        <div id="priceSection" class="flex justify-content-between items-center flex-wrap">
          <%= f.input :price, label: false, placeholder: "Ex: $250", label_html: { class: "block textGray" }, input_html: { class: "mb-2" }, wrapper_html: { class: "mr-2 flex-shrink-2" } %>
          <%= f.input :price_type, label: false, label_html: { class: "block textGray" }, collection: Booking::PRICE_TYPES, input_html:{class: "mb-2 w-100"}, wrapper_html: { class: "mr-3" }  %>
          <p class="textGray my-0" id="totalPrice" data-preferred-currency="<%= currency_mapper(current_user.preferred_currency) %>" > Total: <%= currency_mapper(current_user.preferred_currency) %> <%= @booking.converted_total_price(ExchangeRate.new(current_user).call) %> </p>
        </div>
        <% if current_user.manager? %>

          <%= f.input :attachments, label_html: { class: "choose-file textGray" }, as: :file, input_html: { multiple: true, class: "none" }, label: "#{image_tag("icons/paperclip", alt: "paperclip")} ADD ATTACHMENT".html_safe %>
        <% end %>
      </div>
      <div class="separator"></div>
      <div class="mx-3  pb-4">
        <% if current_user.manager? %>
        <button class="btn btn-primary w-100 py-3" type="submit"><%= image_tag "icons/paperplane.svg", alt: "update", width: 24, height: 24, class: "vertical-align-middle" %> Update request</button>
        <% end %>
      </div>
    <% end %>
    <% if current_user.freelancer? %>
      </fieldset>
    <% end %>
  </section>
</div>
