<div class="bookings-index bg-blueish-gray">
  <div class="bg-white pb-2">
    <section class="px-3 pt-4 flex justify-content-between items-center">
      <%= link_to :back do %>
        <%= image_tag "icons/left-arrow.svg", alt: "back", class: "icon", height: 16, width: 16 %>
      <% end %>
      <p class="textDarkGray">Bookings</p>
      <button style="height: 16px; width: 16px"> </button>
    </section>

    <section class="switch bg-blueish-gray flex justify-content-between mx-3 p-1 rounded my-3">
      <%= link_to "Accepted", bookings_path(status: 1),
                  remote: true, data: { status: 1 },
                  class: "flex items-center btn #{params[:status] == "1" ? "btn-white" : "btn-transparent"}" %>
      <%= link_to "Pending", bookings_path(status: 0),
                  remote: true, data: { status: 0 },
                  class: "flex items-center btn #{params[:status] == "0" ? "btn-white" : "btn-transparent"}" %>
      <%= link_to "Rejected", bookings_path(status: 2),
                  remote: true, data: { status: 2 },
                  class: "flex items-center btn #{params[:status] == "2" ? "btn-white" : "btn-transparent"}" %>
      <%= link_to "All", bookings_path(status: -1),
                  remote: true, data: { status: -1 },
                  class: "flex items-center btn #{!params[:status] ? "btn-white" : "btn-transparent"}" %>
    </section>
  </div>

  <section class="mx-3 mt-4">
    <div class="flex flex-column" id="booking-cards">
      <%= render partial: "bookings/booking_cards", locals: { bookings: @bookings } %>
    </div>
  </section>
</div>
