
<section class="mx-3 mt-4 flex justify-content-between items-center">
  <%= link_to :back do %>
    <%= image_tag "icons/cross.svg", alt: "exit", class: "icon", height: 16, width: 16 %>
  <% end %>
  <p class="textDarkGray">NEW BOOKING</p>
  <%= image_tag "icons/more.svg", alt: "more", class: "icon more", height: 24, width: 24 %>
</section>

<section class="flex p-3">
  <% if @profile.user.avatar.attached? %>
    <%= image_tag @profile.user.avatar, alt: "alttext", class: "profileAvatar rounded-square", height: 80, width: 80  %>
  <% else %>
    <%= image_tag "https://png.pngtree.com/png-clipart/20190520/original/pngtree-vector-users-icon-png-image_4144740.jpg", alt: "alttext", class: "profileAvatar rounded-square", height: 80, width: 80 %>
  <% end %>
  <div>
    <p class="mb-0 mx-3"><strong><%= @profile.user.display_name %></strong></p>
    <p class="textGray my-0 mx-3"><%= @profile.profession %>, <%= @profile.location %></p>
  </div>
</section>


<div class="flex justify-content-center p-3">
  <div class="bookingCard">
    <%= simple_form_for [@profile, @booking] do |f| %>
      <%= f.input :title, label: "Project / Client", label_html: { class: "block textGray" }, input_html:{class: "mb-2 w-100"} %>
      <%= f.input :description, label_html: { class: "block textGray" }, input_html:{class: "mb-2 w-100"} %>

      <div class="flex justify-content-between items-center flex-shrink-2">

        <!-- Start time and end time OR duration input -->
        <div class="bookingHours flex items-end">
          <%= f.input :start_time, label: "Hours per day", label_html: { class: "block textGray nowrap" }, input_html:{class: "mb-2 w-100 start-timepicker"}, as: :string %>
        <span class="self-centered mx-3 mt-2"> - </span>
          <%= f.input :end_time, label: false, input_html:{class: "mb-2 w-100 end-timepicker"}, as: :string %>
          <div class="bookingDuration">
            <%= f.input :duration, label_html: { class: "block textGray none" }, input_html:{class: "mb-2 w-100 none"} %>
          </div>
        </div>
        <!-- End of left side -->

      <!-- Duration toggler -->
      <div class="profileTabs flex-grow-1 textSm" id="tabs">
        <%= link_to "Duration", "#", class: "tab p-2", data: { turbolinks: false } %>
        <%= link_to "Specific", "#", class: "tab p-2 active", data: { turbolinks: false } %>
      </div>


      </div>

      <div class="flex items-end justify-content-between">
        <%= f.input :start_date, label: "Dates", label_html: { class: "block textGray" }, input_html:{class: "mb-2 w-100 datepicker"}, as: :string %>
        <div class="flex flex-row-reverse items-center mb-2">
          <label class="block textGray" for="weekend">Incl. weekends</label>
          <input type="checkbox" class="mr-2" name="weekend">
        </div>
      </div>
      <%= f.input :end_date, label: false, input_html:{class: "mb-2 w-100 datepicker none"}, as: :string %>




      <%= f.input :billable, label_html: { class: "block textGray" }, as: :check_boxes, collection: [["", true ]], input_html:{class: "mb-2"}, wrapper_html: { class: "flex flex-row-reverse justify-content-end my-2" }, include_hidden: false %>

      <div class="flex justify-content-between items-center">
        <%= f.input :price, label: false, placeholder: "$250", label_html: { class: "block textGray" }, input_html:{class: "mb-2 w-100"}, wrapper_html: { class: "mr-2 flex-shrink-2" } %>
        <%= f.input :price_type, label: false, label_html: { class: "block textGray" }, collection: Booking::PRICE_TYPES, input_html:{class: "mb-2 w-100"}, wrapper_html: { class: "mr-3" }  %>
        <p class="textGray my-0" id="totalPrice"> Total: $1,000</p>
      </div>
      <%= f.input :attachments, label_html: { class: "choose-file textGray" }, as: :file, input_html: { multiple: true, class: "none" }, label: "#{image_tag("icons/paperclip", alt: "paperclip")} ADD ATTACHMENT".html_safe %>


      <%= f.button :button, class: "btn btn-primary w-100 my-3 send-request" do %>
        <%= image_tag("icons/paperplane", alt: "paperplane") %>
        SEND REQUEST
      <% end %>
    <% end %>
  </div>
</div>
