<h1 class="mx-0" style="text-align: center;">Book <%= @profile.user.display_name %> here</h1>
<div class="flex w-100 justify-content-center">
  <div class="bookingCard">
    <%= simple_form_for [@profile, @booking] do |f| %>
      <%= f.input :title, input_html:{class: "mb-2"} %>
      <%= f.input :description, input_html:{class: "mb-2"} %>

      <div class="flex justify-content-between items-center">
        <div class="bookingHours">
          <%= f.input :start_time, input_html:{class: "mb-2"} %>
          <%= f.input :end_time, input_html:{class: "mb-2"} %>
        </div>
        <p class="mx-3"><strong>OR</strong></p>
        <div class="bookingDuration">
          <%= f.input :duration, input_html:{class: "mb-2"} %>
        </div>

      </div>

      <%= f.input :start_date, input_html:{class: "mb-2"} ,html5: true, as: :date %>
      <%= f.input :end_date, input_html:{class: "mb-2"} ,html5: true, as: :date%>
      <%= f.input :billable, as: :radio_buttons, input_html:{class: "mb-2"} %>
      <%= f.input :price, input_html:{class: "mb-2"} %>
      <%= f.input :price_type, collection: Booking::PRICE_TYPES, input_html:{class: "mb-2"} %>
      <%= f.input :attachments, as: :file, input_html: { multiple: true } %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
