<div id="bookings-new">
  <section class="mx-3 mt-4 flex justify-content-between items-center">
    <%= link_to(@last_url) do %>
      <%= image_tag "icons/cross.svg", alt: "exit", class: "icon", height: 16, width: 16 %>
    <% end %>
    <h3 class="semi-bold uppercase textBetween textDarkGray">New booking</h3>
    <%= image_tag "icons/more.svg", alt: "more", class: "icon more opaque", height: 24, width: 24 %>
  </section>

  <% unless @select %>
    <section class="flex items-center p-3">
      <% if @profile.user.avatar.attached? %>
        <%= image_tag @profile.user.avatar.service_url, alt: "Avatar", class: "avatar avatar-square booking rounded" %>
      <% else %>
        <%= image_tag "https://png.pngtree.com/png-clipart/20190520/original/pngtree-vector-users-icon-png-image_4144740.jpg", alt: "Avatar", class: "avatar avatar-square booking rounded" %>
      <% end %>
      <div class="ml-3">
        <p class="mt-0 mb-1 bold"><%= @profile.display_name %></p>
        <span class="textBetween textLightBlack">
          <%= @profile.profession %>, <%= @profile.location %>
        </span>
      </div>
    </section>
  <% end %>

  <div id="new-booking" class="flex justify-content-center px-3">
    <div class="bookingCard">
      <% url = @select ? profile_bookings_path("no_profile", select: true) : profile_bookings_path(@profile) %>
      <%= simple_form_for [Profile.new, @booking], url: url do |f| %>
        <% if params[:parent_id] %>
          <input type="hidden" name="parent_id" value="<%= params[:parent_id] %>">
        <% end %>
        <% if @reassign %>
          <input type="hidden" name="reassign" value=<%= @reassign %> id="reassign" />
        <% end %>
        <% if @select %>
          <%= f.input :profile_id,
                      collection: @network.map { |profile| [profile.user.display_name, profile.id] },
                      label: "Freelancer",
                      label_html: { class: "block mb-1 textLightBlack textBetween" },
                      input_html: { class: "w-100" },
                      wrapper_html: { class: "mb-3" } %>
        <% end %>

        <%= f.input :title,
                    label: "Project / Client",
                    label_html: { class: "block mb-1 textLightBlack textBetween" },
                    input_html: { value: @parent_booking&.title, class: "w-100" },
                    wrapper_html: { class: "mb-3" } %>
        <%= f.input :description,
                    label_html: { class: "block mb-1 textLightBlack textBetween" },
                    input_html: { value: @parent_booking&.description, class: "w-100" },
                    wrapper_html: { class: "mb-3" } %>

        <div class="flex justify-content-between items-end flex-shrink-2 mb-3">
          <!-- Start time and end time OR duration input -->
          <div class="bookingHours w-100">
            <div class="bookingSpecific <%= 'none' if @parent_booking&.duration %>">
              <label class="block mb-1 textLightBlack textBetween">Hours per day</label>
              <div class="inputs flex items-center">
                <%= f.input :start_time,
                            label: false,
                            as: :string,
                            input_html: { value: @parent_booking&.start_time&.strftime("%H:%M"), class: "w-100", list: "time-options", autocomplete: false } %>
                <span class="self-centered mx-2"> - </span>
                <%= f.input :end_time,
                            label: false,
                            as: :string,
                            input_html: { value: @parent_booking&.end_time&.strftime("%H:%M"), class: "w-100", list: "time-options", autocomplete: false } %>
              </div>
              <%= render partial: "shared/time_options" %>
            </div>

            <!-- Hidden duration -->
            <div class="bookingDuration <%= 'none' if !@parent_booking || @parent_booking&.start_time %>">
              <%= f.input :duration,
                          collection: (1..8),
                          label_html: { class: "block mb-1 textLightBlack textBetween" },
                          input_html: { value: @parent_booking&.duration, class: "w-100" },
                          label: "Hours per day" %>
            </div>
          </div>
          <!-- End of left side -->

        <!-- Duration toggler -->
        <div class="profileTabs flex-grow-1 textSm mr-0" id="tabs">
          <%= link_to "Duration", "#", id: "duration", class: "tab p-2 #{'active' if @parent_booking&.duration}", data: { turbolinks: false } %>
          <%= link_to "Specific", "#", id: "specific", class: "tab p-2 #{'active' if !@parent_booking || @parent_booking&.start_time}", data: { turbolinks: false } %>
        </div>


        </div>

        <!-- Dates input -->
        <div class="flex items-center justify-content-between mb-3">

          <div class="dates-input-wrapper">
            <label for="dates" class="block mb-1 textLightBlack textBetween">Dates</label>
            <input id="new-booking-datepickr" type="text" name="dates" class="mb-2 w-100 datepicker">
          </div>

          <div class="mt-3">
            <%= render partial: "shared/checkbox", locals: { label: "Incl. weekends", name: "booking[weekends]", active: @booking.weekends, id: "booking_weekends" } %>
          </div>
        </div>

        <!-- Hidden inputs for start and end dates -->
        <%= f.input :start_date,
                    label: "sd",
                    label_html: { class: "block mb-1 textLightBlack textBetween" },
                    input_html: { class: "mb-2 w-100" },
                    as: :hidden %>

        <%= f.input :end_date,
                    label: "ed",
                    input_html: { class: "mb-2 w-100" },
                    as: :hidden %>

        <!-- Billable input -->
        <div class="flex mb-4">
          <%= render partial: "shared/checkbox", locals: { label: "Billable", name: "booking[billable]", active: @parent_booking&.billable, id: "booking_billable_true" } %>
        </div>

        <!-- Price section -->
        <div id="priceSection" class="mb-3 <%= 'none' unless @parent_booking&.billable %> mb-3">
          <div class="input-wrapper">
            <div class="flex items-center">
              <%= f.input :price,
                          label: false,
                          placeholder: "Ex: $250",
                          label_html: { class: "block mb-1 textLightBlack textBetween" },
                          input_html: { value: @parent_booking&.price, class: "w-100" },
                          wrapper_html: { class: "mr-2 flex-shrink-2" } %>
              <%= f.input :price_type,
                          label: false,
                          label_html: { class: "block mb-1 textLightBlack textBetween" },
                          collection: Booking::PRICE_TYPES,
                          input_html: { class: "w-100" },
                          wrapper_html: { class: "mr-3" }  %>
              <span class="textLightBlack textBetween" id="totalPrice" data-preferred-currency="<%= currency_mapper(current_user.preferred_currency) %>" >
                <!-- Total: <%#= currency_mapper(current_user.preferred_currency) %> <%#= @booking.converted_total_price(ExchangeRate.new(current_user).call) %> -->
                <!-- TODO: Change this -->
                Total: $1,000
              </span>
            </div>
          </div>
        </div>
        <%= f.input :attachments,
                      as: :file,
                      input_html: { multiple: true, class: "none" },
                      label: "#{image_tag("icons/paperclip", alt: "paperclip", class: "vertical-align-middle")} ADD ATTACHMENT".html_safe,
                      label_html: { class: "choose-file block mb-1 textLightBlack textBetween text-center" } %>

        <div class="separator"></div>

        <%= f.button :button, class: "btn btn-primary w-100 my-3 send-request" do %>
          <%= image_tag("icons/paperplane", alt: "paperplane") %>
          SEND REQUEST
        <% end %>
      <% end %>
    </div>
  </div>
</div>
