<div class="manager-card">
  <div class="flex justify-content-between items-start">
    <button style="opacity: 0; user-select: none; width: 36px; height: 36px"></button>
    <div>
      <%= image_tag manager_avatar(manager), alt: "manager avatar", class: "avatar avatar-square" %>
    </div>
    <div class="relative">
      <div class="none actions-container" data-id="<%= manager.id %>">
        <div class="actions flex flex-column bookings-index">
        </div>
      </div>
      <button data-id="<%= manager.id %>" class="trigger"><%= image_tag "icons/more.svg", alt: "sub-menu", width: 24, height: 24 %></button>
    </div>
  </div>
  <div class="text-center">
    <h3 class="mt-0 mb-3 textMd"><%= manager.user.display_name %></h3>
    <p class="bold uppercase textLightBlack my-0"><%= manager.job_title %></p>
    <p class="textSm textLightBlack my-0"><%= manager.company.name %></p>
  </div>
  <% convo ||= current_user.conversation_with(manager.user) %>
  <% if convo %>
    <%= link_to conversation_path(convo), class: "btn btn-white textSm text-center mt-3" do %>
      <%= image_tag "icons/message.svg", alt: "message", width: 16, height: 16, class: "vertical-align-middle" %> Message
    <% end %>
  <% end %>
</div>
