<div class="h-100">
  <section class="head">
    <button class="filter-exit"><%= image_tag "icons/cross.svg", alt: "close" %></button>
    <p>FILTER</p>
    <button style="opacity: 0; user-select: none"><%= image_tag "icons/cross.svg", alt: "close" %></button>
  </section>

  <section class="content">
    <%= simple_form_for :manager, url: managers_path, method: :get, remote: true do |f| %>
      <%= f.input :name, required: false,
                  wrapper_html: { class: "flex flex-column mb-3" } %>
      <%= f.input :job_title, required: false,
                  wrapper_html: { class: "flex flex-column mb-3" } %>
      <%= f.input :company_name, required: false,
                  wrapper_html: { class: "flex flex-column mb-3" } %>

      <div class="mt-5 mb-3 mx-3 px-3 flex justify-content-between">
        <button type="submit" name="manager[clear]" value="true" id="clear" class="btn btn-float red">Clear</button>
        <%# DUMMY BUTTON FOR NOW %>
        <button class="btn btn-float" style="user-select: none">Saved</button>
      </div>
      <button class="uppercase btn btn-primary w-100 py-3" type="submit">Show results</button>
    <% end %>
  </section>
</div>
