<div class="managerShow w-100">

  <div class="profileBanner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(255,255,255,0.2)), url(<%= avatar_url(@manager) %>)">
    <div class="headerOptions flex w-100 justify-content-between p-3">
      <div>
        <%= render partial: "shared/back_link", locals: { text: "Profile" } %>
      </div>
    </div>
  </div>

  <!-- Name and description -->
  <div class="profileHeader">
    <div class="profileHeaderLeft">
      <h1><%= @manager.user.display_name %></h1>
      <p class="textGray"> <strong> <%= @manager.job_title %> </strong> at <%= @manager.company.name %></p>
    </div>
    <div class="profileHeaderRight">
      <%= link_to edit_manager_path(@manager), class: "btn-lg px-0 btn-white block" do %>
        <%= image_tag "icons/edit.svg", alt: "edit" %> EDIT
      <% end %>
    </div>
  </div>











  <section class="team-members">
    <h2>Your team</h2>
    <p>Team members</p>
    <div class="members">
      <% current_user.company.managers.except_me(current_user.manager).each do |manager| %>
        <%= render partial: "managers/card", locals: { manager: manager } %>
      <% end %>
    </div>
  </section>
</div>
