<label class="checkbox-container">
  <% if defined?(label) %>
    <%= label %>
  <% end %>
  <% if active %>
    <input type="checkbox" name="<%= name %>" class="mr-2" checked="checked" id="<%= id %>">
  <% else %>
    <input type="checkbox" name="<%= name %>" class="mr-2" id="<%= id %>">
  <% end %>
  <span class="checkmark">
    <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7058 0.42315C12.3005 -0.153556 13.2502 -0.138946 13.8269 0.455782C14.4036 1.05051 14.389 2.00015 13.7942 2.57685L6.05985 10.0768C5.47802 10.641 4.55324 10.641 3.97141 10.0768L0.455783 6.66776C-0.138946 6.09105 -0.153556 5.14142 0.423151 4.54669C0.999857 3.95196 1.94949 3.93735 2.54422 4.51406L5.01563 6.91057L11.7058 0.42315Z" fill="white"/>
    </svg>
  </span>
</label>
