<div id="manager">
  <%= link_to profiles_path(ids: @today_booked_profiles.pluck(:id)), class: "bookings-count" do %>
    You have <%= pluralize @today_booked_profiles.count, "freelancer" %> booked today
  <% end %>

  <div class="shadow-alt rounded p-3 mb-3">
    <h3 class="mt-0 mb-1 textMd">Bookings</h3>
    <p class="subtitle m-0 textSm"><%= pluralize @booked_profiles.count, "booking" %> across <%= pluralize @booked_profiles.distinct.count("profiles.id"), "freelancer" %></p>

    <div class="card-container flex items-center justify-content-between">
      <div class="flex items-center">
        <div class="card accepted">
          <%= image_tag "icons/checkmark", alt: "active bookings" %>
        </div>
        <div class="ml-2">
          <h4 class="m-0">Accepted</h4>
          <p class="subtitle m-0"><%= pluralize @bookings.accepted.count, "booking" %></p>
        </div>
      </div>
      <%= link_to bookings_path(status: 1) do %>
        <%= image_tag "icons/right-arrow.svg", alt: "accepted bookings" %>
      <% end %>
    </div>

    <div class="card-container flex items-center justify-content-between">
      <div class="flex items-center">
        <div class="card pending">
          <%= image_tag "icons/pending.svg", alt: "pending bookings" %>
        </div>
        <div class="ml-2">
          <h4 class="m-0">Pending</h4>
          <p class="subtitle m-0"><%= pluralize @bookings.pending.count, "booking" %></p>
        </div>
      </div>
      <%= link_to bookings_path(status: 0) do %>
        <%= image_tag "icons/right-arrow.svg", alt: "pending bookings" %>
      <% end %>
    </div>

    <div class="card-container flex items-center justify-content-between">
      <div class="flex items-center">
        <div class="card rejected">
          <%= image_tag "icons/cross-white.svg", alt: "rejected bookings" %>
        </div>
        <div class="ml-2">
          <h4 class="m-0">Cancelled / Declined</h4>
          <p class="subtitle m-0"><%= pluralize @bookings.rejected.count, "booking" %></p>
        </div>
      </div>
      <%= link_to bookings_path(status: 3) do %>
        <%= image_tag "icons/right-arrow.svg", alt: "canceled bookings" %>
      <% end %>
    </div>

    <%= link_to "View all (#{@bookings.count})", bookings_path, class: "btn btn-primary text-center" %>
  </div>

  <div class="shadow-alt rounded p-3">
    <h3 class="mt-0 mb-1">Job posts</h3>
    <p class="subtitle"><%= pluralize current_user.manager.job_applications.count, "applicant" %> for <%= pluralize current_user.manager.jobs.count, "job post" %></p>

    <% @jobs.each do |job| %>
      <%= link_to job_path(job), class: "card-container flex items-center justify-content-between" do %>
        <div class="flex items-center">
          <% if job.manager.user.avatar.attached? %>
            <%= image_tag job.manager.user.avatar.service_url, class: "avatar small avatar-circle", alt: "Manager's picture" %>
          <% else %>
            <%= image_tag job.company.logo.service_url, class: "avatar small avatar-circle", alt: "Company's picture" %>
          <% end %>
          <div class="ml-2">
            <h4 class="m-0"><%= job.profession %></h4>
            <p class="subtitle m-0"><%= pluralize(job.job_applications.count, "applicant") %></p>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= link_to "View all (#{@jobs.count})", jobs_path(manager_id: current_user.manager.id), class: "btn btn-primary text-center" %>
  </div>
</div>
