<div id="manager">
  <% if @today_booked_profiles.size.positive? %>
    <%= link_to profiles_path(ids: @today_booked_profiles.pluck(:id)), class: "bookings-count" do %>
      You have <%= pluralize @today_booked_profiles.size, "freelancer" %> booked today
    <% end %>
  <% end %>

  <div class="shadow-alt rounded p-3 mb-4">
    <% if @bookings_count.positive? %>
      <h3 class="mt-0 mb-1 textMd">Bookings</h3>
    <% else %>
      <h3 class="mt-0 mb-4 textMd">
        Your current bookings will appear here
      </h3>
    <% end %>
    <% if @today_booked_profiles.size.positive? %>
      <p class="subtitle m-0 textSm"><%= pluralize @today_booked_profiles.size, "booking" %> across <%= pluralize @today_booked_profiles.distinct.count("profiles.id"), "freelancer" %></p>
    <% end %>

    <% if @bookings_count.positive? %>
      <div class="card-container flex items-center justify-content-between">
        <div class="flex items-center">
          <div class="card accepted">
            <%= image_tag "icons/checkmark", alt: "active bookings" %>
          </div>
          <div class="ml-2">
            <h4 class="m-0 textBetween">Accepted</h4>
            <p class="textSm m-0"><%= pluralize @bookings.accepted.size, "booking" %></p>
          </div>
        </div>
        <%= link_to bookings_path(status: 1) do %>
          <%= image_tag "icons/dashboard-chevron-right.svg", alt: "accepted bookings", width: 12, height: 12 %>
        <% end %>
      </div>

      <div class="card-container flex items-center justify-content-between">
        <div class="flex items-center">
          <div class="card pending">
            <%= image_tag "icons/pending.svg", alt: "pending bookings" %>
          </div>
          <div class="ml-2">
            <h4 class="m-0 textBetween">Pending</h4>
            <p class="textSm m-0"><%= pluralize @bookings.pending.size, "booking" %></p>
          </div>
        </div>
        <%= link_to bookings_path(status: 0) do %>
          <%= image_tag "icons/dashboard-chevron-right.svg", alt: "pending bookings", width: 12, height: 12 %>
        <% end %>
      </div>

      <div class="card-container flex items-center justify-content-between">
        <div class="flex items-center">
          <div class="card rejected">
            <%= image_tag "icons/cross-white.svg", alt: "rejected bookings" %>
          </div>
          <div class="ml-2">
            <h4 class="m-0 textBetween">Cancelled / Declined</h4>
            <p class="textSm m-0"><%= pluralize @bookings.rejected.size, "booking" %></p>
          </div>
        </div>
        <%= link_to bookings_path(status: 3) do %>
          <%= image_tag "icons/dashboard-chevron-right.svg", alt: "canceled bookings", width: 12, height: 12 %>
        <% end %>
      </div>

      <%= link_to "View all (#{@bookings.size})", bookings_path, class: "btn btn-primary text-center mx-2 mb-2" %>
    <% else %>
      <%= link_to "Make a booking", new_profile_booking_path(current_user.manager.network.first, select: true), class: "btn btn-primary text-center mb-2" %>
    <% end %>
  </div>

  <div class="shadow-alt rounded p-3 mb-4">
    <% if @jobs_count.positive? %>
      <h3 class="mt-0 mb-1 textMd">Job posts</h3>
    <% else %>
      <h3 class="mt-0 mb-4 textMd">Your current job posts will appear here</h3>
    <% end %>

    <% if @jobs_count.positive? %>
      <p class="subtitle m-0 textSm"><%= pluralize @company.job_applications.size, "applicant" %> for <%= pluralize @jobs_count, "job post" %></p>
    <% end %>

    <% @jobs.each do |job| %>
      <%= link_to job_path(job), class: "card-container flex items-center justify-content-between" do %>
        <div class="flex items-center">
          <% if job.manager.user.avatar.attached? %>
            <%= image_tag job.manager.user.avatar.service_url, class: "avatar small avatar-circle", alt: "Manager's picture" %>
          <% else %>
            <%= image_tag job.company.logo.service_url, class: "avatar small avatar-circle", alt: "Company's picture" %>
          <% end %>
          <div class="ml-2">
            <h4 class="m-0"><%= job.profession %></h4>
            <p class="subtitle m-0"><%= pluralize(job.job_applications.size, "applicant") %></p>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @jobs_count.positive? %>
      <%= link_to "View all (#{@jobs_count})", jobs_path(manager_id: current_user.manager.id), class: "btn btn-primary text-center mb-2" %>
    <% else %>
      <%= link_to "Post a job", new_job_path, class: "btn btn-primary text-center mb-2" %>
    <% end %>
  </div>
</div>
