<div id="manager">
  <div class="shadow-alt rounded p-3">
    <h3 class="mt-0 mb-1">Bookings</h3>
    <p class="subtitle m-0"><%= @booked_profiles.count %> bookings across <%= @booked_profiles.distinct.count("profiles.id") %> freelancers</p>

    <div class="booking-card-container flex items-center justify-content-between">
      <div class="flex items-center">
        <div class="booking-card accepted">
          <%= image_tag "icons/checkmark", alt: "active bookings" %>
        </div>
        <div class="ml-2">
          <h4 class="title m-0">Accepted</h4>
          <p class="subtitle m-0"><%= @bookings.accepted.count %> bookings</p>
        </div>
      </div>
      <%= link_to "#" do %>
        <%= image_tag "icons/right-arrow.svg", alt: "accepted bookings" %>
      <% end %>
    </div>

    <div class="booking-card-container flex items-center justify-content-between">
      <div class="flex items-center">
        <div class="booking-card pending">
          <%= image_tag "icons/pending.svg", alt: "pending bookings" %>
        </div>
        <div class="ml-2">
          <h4 class="m-0">Pending</h4>
          <p class="subtitle m-0"><%= @bookings.pending.count %> bookings</p>
        </div>
      </div>
      <%= link_to "#" do %>
        <%= image_tag "icons/right-arrow.svg", alt: "pending bookings" %>
      <% end %>
    </div>

    <div class="booking-card-container flex items-center justify-content-between">
      <div class="flex items-center">
        <div class="booking-card rejected">
          <%= image_tag "icons/cross-white.svg", alt: "rejected bookings" %>
        </div>
        <div class="ml-2">
          <h4 class="m-0">Rejected</h4>
          <p class="subtitle m-0"><%= @bookings.rejected.count %> bookings</p>
        </div>
      </div>
      <%= link_to "#" do %>
        <%= image_tag "icons/right-arrow.svg", alt: "rejected bookings" %>
      <% end %>
    </div>
  </div>
</div>
