<div id="dashboardPage" class="mx-3">
  <div class="head mb-3 flex justify-content-between items-center <%= "mt-3" if notice || alert %>">
    <%# DON'T REMOVE %>
    <div style="width: 32px;"></div>
    <h1>Hello <%= current_user.first_name %></h1>
    <div class="relative">
      <div class="actions-container none">
        <div class="actions flex flex-column dashboard">
          <% if current_user.manager? %>
            <%= link_to "My profile", manager_path(current_user.manager), class: "action-link" %>
          <% else %>
            <%= link_to "My profile", profile_path(current_user.profile), class: "action-link" %>
          <% end %>
          <%= link_to "Settings", settings_path, class: "action-link" %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "action-link btn-unstyled textMd" %>
        </div>
      </div>
      <button class="trigger">
        <%= image_tag user_avatar_url(current_user), class: "avatar avatar-circle small" %>
      </button>
    </div>
  </div>

  <%= render partial: "#{current_user.role}_dashboard" %>
</div>
