<div id="dashboardPage" class="mx-3">
  <div class="mb-3 flex justify-content-between items-center">
    <%# DON'T REMOVE %>
    <div></div>
    <h1>Hello <%= current_user.first_name %></h1>
    <% if current_user.manager? %>
      <%= link_to manager_path(current_user.manager) do %>
        <%= image_tag "icons/person.svg", alt: "person icon" %>
      <% end %>
    <% else %>
      <%= link_to profile_path(current_user.profile) do %>
        <%= image_tag "icons/person.svg", alt: "person icon" %>
      <% end %>
    <% end %>
  </div>

  <%= render partial: "#{current_user.role}_dashboard" %>
</div>
