<div class="login-page">
  <div class="flex items-center justify-content-between p-3 mb-5">
    <%= link_to root_path do %>
      <%= image_tag "icons/left-arrow.svg", width: 24, height: 24, alt: "back link" %>
    <% end %>
    <div style="width: 32px"></div>
    <div style="width: 32px"></div>
  </div>


  <h1 class="text-center textLg mb-5">Welcome back</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mx-3">
      <div class="flex mb-3">
        <%= f.email_field :email, autofocus: true,
                          autocomplete: "email",
                          class: "w-100 bg-white py-3 textMd",
                          placeholder: "Email" %>
      </div>

      <div class="flex mb-3">
        <%= f.password_field :password,
                              autocomplete: "new-password",
                              class: "bg-white w-100 py-3 textMd",
                              placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="my-3">
        <%= f.submit "Sign in", class: "btn btn-primary w-100 py-3 height-unset textMd" %>
      </div>
    </div>
  <% end %>

</div>
