<div class="login-page">
  <div class="flex items-center justify-content-between p-3 mb-5">
    <%= link_to root_path do %>
      <%= image_tag "icons/left-arrow.svg", width: 24, height: 24, alt: "back link" %>
    <% end %>
    <div style="width: 32px"></div>
    <div style="width: 32px"></div>
  </div>


  <h1 class="text-center textLg mb-5">Welcome back</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mx-3">
      <div class="flex mb-3">
        <%= f.email_field :email, autofocus: true,
                          autocomplete: "email",
                          class: "w-100 bg-white py-3 textMd",
                          placeholder: "Email" %>
      </div>

      <div class="flex mb-3">
        <%= f.password_field :password,
                              autocomplete: "new-password",
                              class: "bg-white w-100 py-3 textMd",
                              placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex">
          <label class="checkbox-container">
            Remember me
            <input type="checkbox" name="user[remember_me]" class="mr-2" id="user_remember_me" value="1">
            <span class="checkmark">
              <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7058 0.42315C12.3005 -0.153556 13.2502 -0.138946 13.8269 0.455782C14.4036 1.05051 14.389 2.00015 13.7942 2.57685L6.05985 10.0768C5.47802 10.641 4.55324 10.641 3.97141 10.0768L0.455783 6.66776C-0.138946 6.09105 -0.153556 5.14142 0.423151 4.54669C0.999857 3.95196 1.94949 3.93735 2.54422 4.51406L5.01563 6.91057L11.7058 0.42315Z" fill="white"/>
              </svg>
            </span>
          </label>
        </div>
      <% end %>

      <div class="my-3">
        <%= f.submit "Sign in", class: "btn btn-primary w-100 py-3 height-unset textMd" %>
      </div>
    </div>
  <% end %>

</div>
